* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {

  font-family: 'Jura', sans-serif;
  width: 100%;
  background-color: #2e3c43;
}

/*scrollbar color*/
/* width */
/*::-webkit-scrollbar {
  width: 5px;
}*/

/* Track */
/*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}*/

/*end of scrollbar*/

.upto_about {

  height: auto;
  width: 100%;
  /* background-image: linear-gradient(rgba(1, 4, 15, 0.863), rgba(0, 2, 10, 0.747) ),
    url("../images/banner_image.jpg");*/

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.58)),
    url("../images/sol-tZw3fcjUIpM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
  background-size: cover;
  position: relative;



}

/* nav bar toggle buttton style*/
/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}


/*toggle button end*/

.header_flexbox {
  display: flex;
  min-height: 4rem;
  width: 100%;
  /* background-image: linear-gradient(rgba(45, 46, 48, 0.979), rgba(21, 23, 27, 0.829));*/
  /*  background-image: linear-gradient(to righ,rgba(159,211,240,255) rgba(0, 0, 0, 0.904));*/
  /*background-image: linear-gradient((#2e3c43)(#2e3c43));*/
  background-color: #2e3c43;
  position: fixed;
  z-index: 1000;
}

#logo_first_letter {
  font-size: 2.9rem;
  font-family: 'Marck Script', cursive;
  font-weight: bolder;
  color: rgb(247, 21, 21);
}

.logo_name {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-top: 10px;

}

.nav_section {
  width: 40%;
  display: flex;
  justify-content: flex-end;


}

.logo_name h2 {
  text-align: center;
  color: white;
}

.nav-link {
  color: rgb(248, 245, 245);
  font-size: 1rem;
  font-weight: bold;

}

.nav-item {
  padding-right: 25px;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  background: #f8f8fa;
  display: block;
  margin: auto;
  transition: 0.3s;
}



.nav-link:hover::after {
  width: 100%;

}

.nav-link:hover {

  color: rgb(255, 0, 13);
}












/*new banner*/
.banner_section{
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.185)),
  url("../images/banner_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
  background-size: cover;
}

.banner_background{
  width: 100%;
  height: 90vh;
 
 

}
.banner_flexbox{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  color: #f8f8fa;
  justify-content: center;
  align-items: center;
  align-content: center;

}


.banner_flexbox h1{
  
  font-size: 6vw

}
/*new banner end*/


























/*banner section codes*/


.bannersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 250px;
  padding-left: 40px;
  padding-right: 40px;
  height: auto;
  width: 100%;
  font-family: 'Audiowide', cursive;
}

.banner_button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.banner_button button {
  background-color: #ee0606;
  /* Green */
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Jura', sans-serif;

}

.buttonstyle {
  border-radius: 30px;
}

#banner_text {
  border: 5px solid red;
  margin-left: 15px;
  margin-right: 15px;
}



#our_prjbtn_style2 {
  background: #f8f8fa;
  color: #ee0606;
}

#our_prjbtn_style2:hover {
  background-color: #fce9e9;
  transition: ease-in;
}

#our_prjbtn_style1:hover {
  background-color: #af0606;
  transition: ease-in;
}



/* end of banner section codes*/


/*About section codes*/

.about_section {
  padding-top: 6rem;
  height: auto;
  background-color: white;
}


#about_section1_heading {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: .6rem;
}



.about_flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
 
}

.about_section2 {
  padding-left: 5rem;
  padding-right: 5rem;
}
/*
.about_section2_text {
  display: flex;
  flex-direction: column;
  
}*/


.about_section2_picture {
  height: 40vh;
  background-image: linear-gradient(to right, rgba(93, 93, 122, 0.404), rgba(115, 116, 112, 0.781)),
  url("../images/pexels-karolina-grabowska-4219528.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  justify-items: center;
  align-items: center;

}
.about_section2_picture p{
  color: white;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

/*
.about_section2_text h3{
  text-align: center;
}


.about_section2 .container-fluid .raw{
  display: flex;
}
*/
.about_section2_picture {

  float: left;


}

.icon {
  text-align: center;
}

.title {
  text-align: center;

}

.title a {
  text-decoration: none;
  color: red;
  font-weight: 900;

}

.about_section3 {
  display: flex;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 45px;

}

.icon-box {
  padding: 10px;
}

/*.card {
  margin: 10px;
  padding: 5px;
}*/


/*end of About section codes*/

/*begining of service section*/
.service_section{
  padding-top: 6rem;
}

.service_section h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;


}

.service_flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#service_icons {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  color: #FF0000;
}

.service_section h5 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

.service_section p {
  text-align: center;
  margin-top: 2.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.service_section .card {
  height: auto;
  width: auto;
  margin-bottom: 1.5rem;



}


#image1:hover {

  background-image: linear-gradient(to right, rgba(44, 43, 43, 0.658), rgba(48, 44, 44, 0.596)),
    url("../images/15177.jpg");
  color: #f8f8fa;
  background-size: cover;
  transform: scale(1.1);

}

#image2:hover {

  background-image: linear-gradient(to right, rgba(44, 43, 43, 0.658), rgba(48, 44, 44, 0.596)),
    url("../images/container.jpg");
  color: #f8f8fa;
  background-size: cover;
  transform: scale(1.1);



}

#image3:hover {

  background-image: linear-gradient(to right, rgba(44, 43, 43, 0.658), rgba(48, 44, 44, 0.596)),
    url("../images/7628.jpg");
  color: #f8f8fa;
  background-size: cover;
  transform: scale(1.1);



}


.service_section .row {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 8rem;

}

.service_crt {
  padding-left: 2rem;
}




/*end of service section*/

/*work secton*/

.work_flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work_section {
  padding-top: 3.1rem;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}


.work_section h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}

#hr_style5 {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  height: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

#hr_style6 {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  color: black;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.work_section p {
  font-size: 1.1em;
  font-weight: 600;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 3rem;
  text-align: center;
}


.work_section .row {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.image_item {

  padding-top: .8rem;
  padding-bottom: .8rem;

  transition: .5s ease-in-out;

}

.image_item:hover {
  filter: saturate(5);
  transform: scale(1.13);

}


/*end of work section*/

/* contact section*/

.contact_section {
  width: 100%;
  height: auto;
  padding-top: 5rem;

}

.contact_flexbox {
  display: flex;
  flex-direction: column;

}

#section1_part1_display_text {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;

}


.section1_part1 {
  margin: auto auto;

}

.contact_options {
  text-align: center;
}

.contact_section2 {
  padding: 80px;
}




/*.email{
   margin: 40px;
 }*/




/* end of contact section*/

/* footer*/
.footer_section {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(1, 4, 15, 0.158), rgba(0, 2, 10, 0.171)),
    url("../images/410285.jpg");
}

.footer_section1 a {
  color: white;
}

.footer_flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
}

#onee:hover {
  color: #00acee;

}

#threee:hover {
  color: #fc0d54;

}

#twoo:hover {
  color: #4267B2;
}

#fivee:hover {
  color: #FF0000;
}

#fourr:hover {
  color: #0e76a8;
}

/*end of footer*/

/* whatsapp*/
.whatsapp-btn-container {
  position: fixed;
  right: 1px;
  opacity: 0;
  bottom: 2px;
  padding: 10px;
  margin-bottom: -10px;
  margin-right: 5px;
  animation: fade-up 1000ms forwards;
  animation-delay: 1000ms;

}

#wh_btn_txt {
  background: transparent;
  text-decoration: none;
  border: none;
  background-color: #075e54;
  color: white;
  border-radius: 70px;
  font-size: 1.2rem;
}



@keyframes fade-up {
  100% {
    bottom: 24px;
    opacity: 1;
  }
}

.whatsapp-btn-container .whatsapp-btn {
  font-size: 48px;
  color: #34B7F1;
  display: inline-block;
  transition: all 400ms;




}

.whatsapp-btn-container .whatsapp-btn:hover {
  transform: scale(1.2);
}

.whatsapp-btn-container span {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #075e54;
  transform: rotateZ(20deg) translateX(10px);
  opacity: 0;
  transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover+span {
  transform: rotateZ(0deg) translateX(0px);
  opacity: 1;
}

/*whatsapp end*/


/* back to top*/
.back_to {
  position: fixed;
  /*bottom: 0px;
  left: 0px;*/
  bottom: 5rem;
  right: 1rem;
}

#back_to_top {

  font-size: 3rem;
  padding-right: 1rem;
  opacity: .7;
  color: red;
}

/* end of back to top*/